/* SOMMAIRE 

- RESET 
- LOADER
- LANDING PAGE

*/




/* ------------------------------------------------
                    RESET
--------------------------------------------------- */

/* Box sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margin */

body,
h1,
h2,
h3,
h4,
figure,
picture {
    margin: 0;
    padding: 0;
}

/* Set up the body */

body {
    line-height: 1.5;
    min-height: 100vh;
}

/* Make images easier to work with (si dieu le veut) */

img,
picture {
    max-width: 100%;
    display: block;
}

/* Make forms elements easier to work with */

input,
button,
textarea,
select {
    font: inherit;
}

ul {
    list-style-type: none;
  }

a {
    text-decoration: none;
}

/* Remove animations for those who turned them off (pour ceux qui décident d'enlever les animations dans lur browser : question d'accessiblilité) */

@media (prefers-reduced-motions: reduce){
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* ------------------------------------------------
                    LOADER
--------------------------------------------------- */

    /* custom variable : */

    :root {
        --gradient: linear-gradient(
            45deg,
            #B796AC,
            #fff6e8
        );
    }


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#fff6e8, #d1c1cc);
    z-index: 800;
    height: 100%;
    width: 100%;
}
.no-js #preloader, .oldie #preloader {
    display: none;
}

#loader 
{
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-image: var(--gradient);
    background-size: 400%;
    animation: bg-animation 5s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

/* ------------------------------------------------
                    LANDING PAGE
--------------------------------------------------- */

body {
    background-color: #fff6e8;
}

