<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p>Enter your email</p>
    <!-- <input type="text" id="name" name="name" required minlength="4" maxlength="8" size="10"> -->
    <input type="email" id="email" pattern=".+@globex\.com" size="30" required>

  </body>
</html>
